{% extends 'base.html' %}

{% block content %}
<div class="container">
<br>Vendedor: {{ carros.vendedor.nome }}
<br>Email do vendedor: {{ carros.vendedor.email }}
<br>Marca: {{ carros.marca }}
<br>Categoria: {{carros.categoria}}

<br>Milhas: {{ carros.milhagem }}
<br>Cambio: {{ carros.cambio }}
<br>Ano: {{carros.ano}}
<br> Força: {{ carros.forca }} cavalos
<br> Combustível: {{carros.combustivel }} l
<h4>Preço:{{carros.preco}} $</h4>

<br>{{ carros.descricao }}
<br><br>
<div class="row">
  {% if carros.image1 %}
  <div class="col-md-3">
    <img src="{{ carros.image1.url }}" width="200px" height="150px" alt="">
  </div>
  {% endif %}
  {% if carros.image2 %}
  <div class="col-md-3">
    <img src="{{ carros.image2.url }}" width="200px" height="150px" alt="">
  </div>
  {% endif %}
  {% if carros.image3 %}
  <div class="col-md-3">
    <img src="{{ carros.image3.url }}" width="200px" height="150px" alt="">
  </div>
  {% endif %}
  {% if carros.image4 %}
  <div class="col-md-3">
    <img src="{{ carros.image4.url }}" width="200px" height="150px" alt="">
  </div>
  {% endif %}
  {% if carros.image5 %}
  <div class="col-md-3">
    <img src="{{ carros.image5.url }}" width="200px" height="150px" alt="">
  </div>
  {% endif %}
</div>
</div>

{% endblock content %}
