{% extends 'base.html' %}

{% block content %}
<div class="container">
<br>Dealer: {{ carros.vendedor.nome }}
<br>Dealers mail: {{ carros.vendedor.email }}
<br>Brand: {{ carros.marca }}
<br>Category: {{carros.categoria}}

<br>Miles: {{ carros.milhagem }}
<br>Transmission: {{ carros.cambio }}
<br>Year: {{carros.ano}}
<br> Power: {{ carros.forca }} hp
<br> Fuel: {{carros.combustivel }} l
<h4>Price:{{carros.preco}} $</h4>

<br>{{ carros.descricao }}
<br><br>
<div class="row">
  {% if carros.image1 %}
  <div class="col-md-3">
    <img src="{{ carros.image1.url }}" width="200px" height="150px" alt="">
  </div>
  {% endif %}
  {% if carros.image2 %}
  <div class="col-md-3">
    <img src="{{ carros.image2.url }}" width="200px" height="150px" alt="">
  </div>
  {% endif %}
  {% if carros.image3 %}
  <div class="col-md-3">
    <img src="{{ carros.image3.url }}" width="200px" height="150px" alt="">
  </div>
  {% endif %}
  {% if carros.image4 %}
  <div class="col-md-3">
    <img src="{{ carros.image4.url }}" width="200px" height="150px" alt="">
  </div>
  {% endif %}
  {% if carros.image5 %}
  <div class="col-md-3">
    <img src="{{ carros.image5.url }}" width="200px" height="150px" alt="">
  </div>
  {% endif %}
</div>
</div>

{% endblock content %}
